## CROSS VALIDATION

### KFOLD CROSS VALIDATION

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Palla Anuraag Sharma/Downloads/Datacamp/Datasets/Adult Income Dataset/adult.csv')

In [3]:
df.sample(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
10916,45,Private,238386,Assoc-voc,11,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
14142,47,Private,165484,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,43,United-States,>50K
12095,30,Private,162442,Some-college,10,Never-married,Craft-repair,Own-child,White,Female,0,0,40,United-States,<=50K
28985,41,Federal-gov,214838,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
40736,26,Private,196899,Assoc-acdm,12,Separated,Craft-repair,Not-in-family,Other,Female,0,0,40,United-States,<=50K

In [5]:
categorical_features = df[['workclass','education','marital-status','occupation','relationship','race','gender','native-country']]

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cat_features = categorical_features.apply(le.fit_transform)

In [8]:
num_features = df[['age','fnlwgt','educational-num','capital-gain','capital-loss','hours-per-week',]]

In [10]:
all_features = pd.concat([num_features,cat_features],axis=1)

In [12]:
df['Income_cat'] = le.fit_transform(df.income)

In [19]:
label = df[['Income_cat']]

In [27]:
from sklearn.model_selection import train_test_split as tts
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = tts(all_features,label,test_size=0.4,random_state=2)
dtc = DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pred = dtc.predict(x_test)
score = accuracy_score(y_test,y_pred)
print('Accuracy score of DTC :',(score*100),'%')

Accuracy score of DTC : 81.22024875876542 %

In [28]:
x_train,x_test,y_train,y_test = tts(all_features,label,test_size=0.4,random_state=34)
dtc = DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pred = dtc.predict(x_test)
score = accuracy_score(y_test,y_pred)
print('Accuracy score of DTC :',(score*100),'%')

Accuracy score of DTC : 80.85171725444029 %

* We can see that there is a difference in accuracy when the random_state is changed
* Therefore we use cross validation technique which takes average of multiple accuracy scores

In [31]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

skf = StratifiedKFold(n_splits=10,random_state=23)
score = cross_val_score(dtc,all_features,label,cv = skf)
print(f'Accuracy Score After Cross Validation: {np.mean(score)*100:4.1f}%')

Accuracy Score After Cross Validation: 81.4%

In [33]:
#accuracy
score = cross_val_score(dtc, all_features, label, cv=skf)
#positive precision
precision_score = cross_val_score(dtc, all_features, label, cv=skf, scoring='precision')
#positive recall
recall_score = cross_val_score(dtc, all_features, label, cv=skf, scoring='recall')
#auc
auc_score = cross_val_score(dtc, all_features, label, cv=skf, scoring='roc_auc')

print(f'Accuracy Score from Cross Validation: {np.mean(score)*100:4.1f}%')
print(f'Positive Precision Rate from Cross Validation: {np.mean(precision_score)*100:4.1f}%')
print(f'Positive Recall Rate from Cross Validation: {np.mean(recall_score)*100:4.1f}%')
print(f'Area Under Curve from Cross Validation: {np.mean(auc_score)*100:4.1f}%')

Accuracy Score from Cross Validation: 81.4%
Positive Precision Rate from Cross Validation: 60.6%
Positive Recall Rate from Cross Validation: 62.4%
Area Under Curve from Cross Validation: 75.0%