In [1]:
import time as tm

In [6]:
print(tm.time())  #time from epoch: 1/1/1970 (utc) - universal time (not a time zone)

1594912211.825666

In [7]:
from datetime import datetime 

print(datetime.now())

2020-07-16 20:40:52.407826

In [18]:
from datetime import timedelta

#days to go to banglore
(datetime(2021,1,1) - datetime.now()).days

168

In [19]:
#36 hrs ago 
datetime.now() - timedelta(hours=24)

datetime.datetime(2020, 7, 15, 20, 44, 12, 821419)

<b>Converting a datetime object to a string:</b>
* %m = month
* %d = day
* %Y = Year
* %b = month (eg.'sep')
* %H = Hour
* %M = Minutes
* %S = Seconds

In [20]:
demo_date = datetime(2020,11,28)
print(demo_date.strftime('%d/%b/%Y'))

28/Nov/2020

In [24]:
# String to a datetime 
print(datetime.strptime('28/11/2020','%d/%m/%Y'))

2020-11-28 00:00:00

* for converting a date column (string) in a pandas dataframe 
* we can use pandas function pd.to_datetime()

In [26]:
from dateutil import tz
print('Tokyo: ', datetime.now(tz.gettz("Asia/Tokyo")))
print('Dubai: ', datetime.now(tz.gettz("Asia/Dubai")))
print('London: ', datetime.now(tz.gettz("Europe/London")))
print('Madrid: ', datetime.now(tz.gettz('Europe/Madrid')))
print('Chicago: ', datetime.now(tz.gettz("America/Chicago")))

Tokyo:  2020-07-17 00:24:45.303701+09:00
Dubai:  2020-07-16 19:24:45.304762+04:00
London:  2020-07-16 16:24:45.304762+01:00
Madrid:  2020-07-16 17:24:45.304762+02:00
Chicago:  2020-07-16 10:24:45.305697-05:00

In [27]:
import pandas as pd 

df = pd.read_csv('C:/Users/Palla Anuraag Sharma/Downloads/Datacamp/Datasets/Air quality data of India (2015-2020)/station_day.csv')
df.head()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99721 entries, 0 to 99720
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StationId   99721 non-null  object
 1   Date        99721 non-null  datetime64[ns]
 2   PM2.5       78984 non-null  float64
 3   PM10        58700 non-null  float64
 4   NO          83444 non-null  float64
 5   NO2         83957 non-null  float64
 6   NOx         84806 non-null  float64
 7   NH3         53910 non-null  float64
 8   CO          87230 non-null  float64
 9   SO2         75744 non-null  float64
 10  O3          75213 non-null  float64
 11  Benzene     70051 non-null  float64
 12  Toluene     63456 non-null  float64
 13  Xylene      19972 non-null  float64
 14  AQI         79593 non-null  float64
 15  AQI_Bucket  79593 non-null  object
 16  Date        99721 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(13), object(2)
memory usage: 12.9+ MB

In [32]:
df['Date'] = pd.to_datetime(df.Date)

In [37]:
# for creating a datetime index

#df['Index'] = pd.to_datetime(df.apply(lambda x: datetime(int(x.month),int(x.day),int(x.hour)),axis=1))
# will be valid for other datasets

In [38]:
# for handling missing values 

# df['column'] = df.column.interpolate(method='time',limit_direction='both')

In [39]:
datetime_str = '2019-09-09 00:00:00'
datetime.strptime(datetime_str,'%Y/%m/%d %H/%M/%S')

ValueError: time data '2019-09-09 00:00:00' does not match format '%Y/%m/%d %H/%M/%S'