In [27]:
# SUPPORT VECTOR MACHINE 
# Used for both classification and regression 
# Performs classification by hyperplane that maximises margin between 2 classes
# Feature scaling is important
# Cannot use Patsy have to use label encoding

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# SVM FOR CLASSIFICATION

In [3]:
df= pd.read_csv('C:/Users/Palla Anuraag Sharma/Downloads/Datacamp/Datasets/Iris DataSet/Iris.csv')

In [4]:
df = df.set_index('Id')
df.sample(5,random_state=5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
83             5.8           2.7            3.9           1.2  Iris-versicolor
135            6.1           2.6            5.6           1.4   Iris-virginica
115            5.8           2.8            5.1           2.4   Iris-virginica
43             4.4           3.2            1.3           0.2      Iris-setosa
110            7.2           3.6            6.1           2.5   Iris-virginica

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['species_cat'] = le.fit_transform(df.Species)

In [22]:
x = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y = df['species_cat']

In [23]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test = tts(x,y,test_size=0.4,random_state=34)

In [24]:
from sklearn.preprocessing import StandardScaler

# Create and fit scaler
ss = StandardScaler().fit(x_train)
x_train_ss = ss.transform(x_train)
x_test_ss = ss.transform(x_test)

In [25]:
from sklearn.svm import SVC

In [26]:
svc = SVC(kernel='linear', random_state=23)
svc = svc.fit(x_train_ss, y_train)

# Compute and display accuracy score
score = 100.0 * svc.score(x_test_ss, y_test)
print(f"SVM prediction accuracy = {score:5.1f}%")

SVM prediction accuracy =  98.3%

In [29]:
from sklearn.metrics import classification_report

# Thre types of Iris in data set
labels = ['Setosa', 'Versicolor','Virginica']

# Predict on test data and report scores
y_pred = svc.predict(x_test_ss)
print(classification_report(y_test, y_pred, target_names = labels))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        24
  Versicolor       1.00      0.96      0.98        23
   Virginica       0.93      1.00      0.96        13

    accuracy                           0.98        60
   macro avg       0.98      0.99      0.98        60
weighted avg       0.98      0.98      0.98        60

# SVM FOR REGRESSION

In [32]:
df = pd.read_csv('C:/Users/Palla Anuraag Sharma/Downloads/Datacamp/Datasets/Air Bnb New York/AB_NYC_2019.csv')

In [33]:
df.sample(5,random_state=32)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3817,2299633,Ritz-Plaza - 2 bedroom / 2 fullbath,11747009,Troy,Manhattan,Theater District,40.76096,-73.98646,Entire home/apt,975,2,1,2015-10-09,0.02,1,0
36220,28805003,"Micro-Studio in Hells Kitchen, Shared Bath",198861577,Novo,Manhattan,Hell's Kitchen,40.76021,-73.99197,Private room,69,30,0,NaN,NaN,5,0
10340,7915596,"Large, Bright NYC Room Near Trains",2339049,Arianna & Z,Brooklyn,Bushwick,40.69919,-73.93818,Private room,75,2,226,2019-06-10,4.78,2,128
26333,20982862,Spacious NYC Duplex- 1 Bedroom & 2 Bathrooms,38250510,Ant,Queens,Elmhurst,40.72859,-73.87276,Entire home/apt,150,2,10,2019-01-01,0.46,1,89
35446,28128130,Astoria Cozy 2 Bedrooms Apartment,83342221,Edgard,Queens,Astoria,40.76317,-73.91124,Entire home/apt,200,5,1,2018-09-30,0.11,1,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [35]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [39]:
df['reviews_per_month']  = df['reviews_per_month'].fillna(df['reviews_per_month'].median())

In [41]:
df = df.drop(columns=['last_review'])

In [42]:
df.isnull().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [43]:
df.sample(5,random_state=34)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
32366,25328081,Basic Little Italy 3,181074926,Billy,Manhattan,Little Italy,40.71766,-73.99827,Private room,110,1,43,3.25,3,348
37543,29790239,Comfortable artistic Brooklyn apartment,94546995,Hollis,Brooklyn,Bedford-Stuyvesant,40.69854,-73.94554,Entire home/apt,75,3,15,2.47,1,4
9836,7563493,"Small Studio Private Suite by the Park近公園新小套房,...",39648442,A,Queens,Flushing,40.74823,-73.80840,Private room,65,1,158,3.35,2,355
41788,32493320,Charming Brooklyn studio,244135864,Alanna,Brooklyn,Bushwick,40.70305,-73.93127,Entire home/apt,69,2,4,0.86,1,0
46985,35522357,Bright Bohemian Gem in the Lower East Side,13483820,Marc,Manhattan,Chinatown,40.71496,-73.99063,Entire home/apt,120,1,0,0.72,1,160

In [47]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
df['ng_cat'] = le.fit_transform(df['neighbourhood_group'])

In [48]:
# neighbourhood group 
# room type 
# price 
# min nights 
# no. of reviews 
# reviews per month 
# calculated_host_listings_count
# availability_365

In [50]:
df['rt_cat'] = le.fit_transform(df['room_type'])

In [56]:
y = df['price']
x = df[['ng_cat','rt_cat','minimum_nights','availability_365']]

In [57]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test = tts(x,y,test_size=0.3,random_state=45)

In [58]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
#fit with training data and transform training data
x_train_ss = ss.fit_transform(x_train)
#transform testing data
x_test_ss = ss.transform(x_test)

In [61]:
from sklearn.svm import SVR

# Create Regressor with default properties
auto_model = SVR()

# Fit estimator and display score
auto_model = auto_model.fit(x_train_ss, y_train)
print(f'Regression Score = {100*auto_model.score(x_test_ss, y_test):5.3f}')

Regression Score = 7.572

In [60]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Regress on test data
pred = auto_model.predict(x_test_ss)

# Copute performance metrics
mae = mean_absolute_error(y_test, pred)
mse = mean_squared_error(y_test, pred)
mr2 = r2_score(y_test, pred)

# Display metrics
print(f'R^2 Score             = {mr2:5.3f}')
print(f'Mean Absolute Error   = {mae:4.2f}')
print(f'Mean Squared Error    = {mse:4.2f}')

R^2 Score             = 0.076
Mean Absolute Error   = 63.39
Mean Squared Error    = 44143.61